
body{
  margin:0px;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.left-board {
  width: 260px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
}
.d-logo-wrapper{
  position: relative;
  height: 42px;
  background: #ffffff;
  border-bottom: 1px solid #f1e8e8;
  box-sizing: border-box;
}
.d-logo{
  position: absolute;
  left: 12px;
  top: 6px;
  line-height: 30px;
  color: #409eff;
  font-weight: 600;
  font-size: 17px;
  white-space: nowrap;
}
.d-logo img{
  width: 30px;
  height: 30px;
  vertical-align: top;
}
.components-title{
  font-size: 14px;
  color: #222;
  margin: 6px 6px;
  font-weight:700
}
.components-draggable{
  padding-bottom: 20px;
}
.components-list {
  padding: 8px;
  box-sizing: border-box;
  height: 100%;
}
.components-list .components-item {
  display: inline-block;
  width: 48%;
  margin: 1%;
  transition: transform 0ms !important;
}
.components-body {
  padding: 8px 10px;
  background: #f4f6fc;
  font-size: 12px;
  margin-left: 5px;
  padding-top: 5px;
  cursor: move;
  border: 1px solid #409eff;
  border-radius: 3px;
}
.components-body:hover {
  border: 1px dashed #f56c6c;
  color: #f56c6c;
}
.center-board {
  height: 100vh;
  width: auto;
  margin: 0 350px 0 260px;
  box-sizing: border-box;
}
.empty-info{
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  letter-spacing: 4px;
}
.action-bar{
  position: relative;
  height: 42px;
  text-align: right;
  padding: 0 15px;
  box-sizing: border-box;;
  border: 1px solid #f1e8e8;
  border-top: none;
  border-left: none;
  background: #ffffff;
}
.action-bar .el-button{
  font-size: 18px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  color:#409EFF
}
.action-bar .delete-btn{
  color: #F56C6C;
}
.center-scrollbar {
  height: calc(100vh - 42px);
  overflow: hidden;
  border-left: 1px solid #f1e8e8;
  border-right: 1px solid #f1e8e8;
  box-sizing: border-box;
}

.center-board-row {
  padding: 10px 12px 100px 12px;
  box-sizing: border-box;
}
.center-board-row .el-form {
  height: calc(100vh - 69px);
}

.dynamic-table{
  margin: 0px;
  height: auto;
  min-height: 120px;
  padding: 10px 0px;
}
.dynamic-table__content{
  width:100%;
  height:100%;
  display: flex;
  overflow-y: hidden;
  outline: 1px dashed #ccc;
  outline-offset: -1px;
  min-height: 100px;
  float:left
}
.dynamic-table__item {
  margin:1px;
  padding-top:5px;
  border: 1px solid #EBEEF5;
  background:#f2f6fc;
  border-radius: 2px;
}
.dynamic-table__item:hover {
  border: 1px solid #409EFF;
}
.dynamic-table__item_title{
  width:100%;
  padding-top:8px;
  line-height: 23px;
  text-align: center;
  border-bottom: 1px solid #EBEEF5;
  font-size: 14px;
  color:#606266;
  height:30px;
}
.dynamic-table__item_body{
  padding:10px;
  text-align: center;
}
.table__content{
  width:100%;
  height:100%;
  overflow-y: hidden;
  outline: 1px dashed #ccc;
  outline-offset: -1px;
  min-height: 100px;
  float:left
}
.el-radio:last-child {
  margin-right:30px;
}
.el-checkbox:last-of-type{
  margin-right:30px;
}
.el-rate{
  margin-top:10px;
}

.component-id{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  color: #bbb;
  display: inline-block;
  margin: 0 6px;
}
.drawing-board {
  height: 100%;
  position: relative;
  border: 1px dashed #ccc;
}
.drawing-board .components-body {
  padding: 0;
  margin: 0;
  font-size: 0;
}
.drawing-board .sortable-ghost {
  position: relative;
  display: block;
  overflow: hidden;
}
.drawing-board .sortable-ghost::before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 3px;
  background: #409EFF;
  z-index: 2;
}
.drawing-board .components-item.sortable-ghost {
  width: 100%;
  height: 5px;
  background-color: #e6f2ff;
}
.drawing-board .drawing-item.sortable-ghost {
  width: 100%;
  height: 5px;
  background-color: #e6f2ff;
}
.drawing-board .active-from-item > .el-form-item {
  background: #e6f2ff;
  border-radius: 6px;
  margin-top: 15px;
}
.drawing-board .active-from-item > .dynamic-table {
  background: #e6f2ff;
  border-radius: 6px;
}
.drawing-board .active-from-item > .drawing-item-copy, .drawing-board .active-from-item > .drawing-item-delete {
  display: initial;
}
.drawing-board .active-from-item > .component-name {
  color: #409EFF;
}
.drawing-board .el-form-item {
  margin-bottom: 5px;
}

.drawing-item {
  position: relative;
  cursor: move;
}
.drawing-item.unfocus-bordered:not(.active-from-item) > div:first-child {
  border: 1px dashed #ccc;
}
.drawing-item .el-form-item {
  padding: 12px 10px;
  margin-top: 15px;
}

.drawing-item {
  position: relative;
  border: 1px dashed #ccc;
  cursor: move;
}
.drawing-item .dynamic-table {
  padding: 12px 5px;
}

.drawing-row-item {
  position: relative;
  cursor: move;
  box-sizing: border-box;
  border: 1px dashed #ccc;
  border-radius: 3px;
  padding: 0 2px;
  margin-bottom: 15px;
}
.drawing-row-item .el-col {
  margin-top: 15px;
}
.drawing-row-item .el-form-item {
  margin-bottom: 15px;
}
.drawing-row-item .drag-wrapper {
  min-height: 80px;
}
.drawing-row-item .drag-col-wrapper {
  height: auto;
  border: 1px dashed #ccc;
}
.drawing-row-item.active-from-item {
  border: 2px solid #e6a23c;
}
.drawing-row-item .component-name {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  color: #bbb;
  display: inline-block;
  padding: 0 6px;
}

.drawing-item:hover > .el-form-item, .drawing-row-item:hover > .el-form-item {
  background: #ebeef5;
}
.drawing-item:hover > .drawing-item-copy, .drawing-item:hover > .drawing-item-delete, .drawing-row-item:hover > .drawing-item-copy, .drawing-row-item:hover > .drawing-item-delete {
  display: initial;
}
.drawing-item > .drawing-item-copy, .drawing-item > .drawing-item-delete, .drawing-row-item > .drawing-item-copy, .drawing-row-item > .drawing-item-delete {
  display: none;
  position: absolute;
  top: -10px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  border: 1px solid;
  cursor: pointer;
  z-index: 1;
}
.drawing-item > .drawing-item-copy, .drawing-row-item > .drawing-item-copy {
  right: 56px;
  border-color: #409EFF;
  color: #409EFF;
  background: #fff;
}
.drawing-item > .drawing-item-copy:hover, .drawing-row-item > .drawing-item-copy:hover {
  background: #409EFF;
  color: #fff;
}
.drawing-item > .drawing-item-delete, .drawing-row-item > .drawing-item-delete {
  right: 24px;
  border-color: #F56C6C;
  color: #F56C6C;
  background: #fff;
}
.drawing-item > .drawing-item-delete:hover, .drawing-row-item > .drawing-item-delete:hover {
  background: #F56C6C;
  color: #fff;
}

.drawing-item:hover > .el-form-item, .drawing-form-item:hover > .el-form-item {
  background: #ebeef5;
}
.drawing-item:hover > .drawing-item-copy, .drawing-item:hover > .drawing-item-delete, .drawing-form-item:hover > .drawing-item-copy, .drawing-form-item:hover > .drawing-item-delete {
  display: initial;
}
.drawing-item > .drawing-item-copy, .drawing-item > .drawing-item-delete, .drawing-form-item > .drawing-item-copy, .drawing-form-item > .drawing-item-delete {
  display: none;
  position: absolute;
  top: -10px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  border: 1px solid;
  cursor: pointer;
  z-index: 1;
}
.drawing-item > .drawing-item-copy, .drawing-form-item > .drawing-item-copy {
  right: 56px;
  border-color: #409EFF;
  color: #409EFF;
  background: #fff;
}
.drawing-item > .drawing-item-copy:hover, .drawing-form-item > .drawing-item-copy:hover {
  background: #409EFF;
  color: #fff;
}
.drawing-item > .drawing-item-delete, .drawing-form-item > .drawing-item-delete {
  right: 24px;
  border-color: #F56C6C;
  color: #F56C6C;
  background: #fff;
}
.drawing-item > .drawing-item-delete:hover, .drawing-form-item > .drawing-item-delete:hover {
  background: #F56C6C;
  color: #fff;
}

.right-board {
  width: 350px;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 3px;
}
.right-board .field-box {
  position: relative;
  height: calc(100vh - 42px);
  box-sizing: border-box;
  overflow: hidden;
}
.right-board .el-scrollbar {
  height: 100%;
}

.select-item {
  display: flex;
  border: 1px dashed #fff;
  box-sizing: border-box;
}
.select-item .close-btn {
  cursor: pointer;
  color: #f56c6c;
}
.select-item .el-input + .el-input {
  margin-left: 4px;
}

.select-item + .select-item {
  margin-top: 4px;
}

.select-item.sortable-chosen {
  border: 1px dashed #409eff;
}

.select-line-icon {
  line-height: 32px;
  font-size: 22px;
  padding: 0 4px;
  color: #777;
}

.option-drag {
  cursor: move;
}

.time-range .el-date-editor {
  width: 227px;
}
.time-range ::v-deep .el-icon-time {
  display: none;
}

.document-link {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
  cursor: pointer;
  background: #409eff;
  z-index: 1;
  border-radius: 0 0 6px 0;
  text-align: center;
  line-height: 26px;
  color: #fff;
  font-size: 18px;
}

.node-label {
  font-size: 14px;
}

.node-icon {
  color: #bebfc3;
}

.center-tabs .el-tabs__header {
  margin-bottom: 0 !important;
}
.center-tabs .el-tabs__item {
  width: 100%;
  text-align: center;
}
.center-tabs .el-tabs__nav {
  width: 100%;
}

.right-scrollbar .el-scrollbar__view {
  padding: 12px 18px 15px 15px;
}

.drawing-row-item .el-col {
  margin-bottom: 5px;
  float:left;
  width:100%;
}

.components-item.dynamicGhost {
  width: 5px;
  height: 120px;
  background-color: #409EFF;
}

.dynamic-table_item.dynamicGhost {
  width: 5px;
  height: 120px;
  background-color: #409EFF;
}