.from-designer{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.from-main{
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  .main-composite{
    display: flex;
    flex-direction: row;
    height: 100%;
    .composite-tabs{
      display: flex;
      flex-direction: column;
      width: 50px;
      border-right: 1px solid #d9d9d9;
      background-color: white;
      .composite-tabs-item{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 10px;
        position: relative;
        .composite-tabs-item-img{
          width: 100%;
          height: 100%;
        }
      }
      .click-item:after{
        content: '';
        width: 3px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #1890ff;
      }
    }
    .composite-tabs-content{
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 100%;
      left: 50px;
      border-right: 1px solid #d9d9d9;
      background-color: white;

      .tabs-content-header{
        width: 100%;
        height: 50px;
        padding: 14px 7px;
        color:#666;
        line-height: 18px;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #d9d9d9;
        .tabs-content-header-text{
          font-size: 20px;
        }
        .tabs-content-header-button{
          i{
            font-size: 16px;
            margin:0 5px;
          }
        }
      }
      .tabs-content-content{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        .tabs-content-item-list-header{
          font-size: 13px;
          background-color: #eee;
          border-bottom: 1px solid #d9d9d9;
          padding: 5px 8px;
          display: flex;
          align-items: center;
          >i{
            font-size: 10px;
            margin-right: 5px;
          }
        }
        .tabs-content-item-list-content{
          border-bottom: 1px solid #d9d9d9;
          background-color:#d9d9d9 ;
          display: grid;
          grid-template-columns:1fr 1fr 1fr ;
          grid-gap: 1px;
          .tabs-content-item-list-content-box{
            position: relative;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 40px;
            .tabs-content-item-list-content-box-img{
              height: 40px;
              width: 100%;

            }
            .tabs-content-item-list-content-box-text{
              font-size: 12px;
              margin-bottom: 12px;
            }
          }
        }
      }
    }
  }
  .main-workspace{
    display: flex;
    flex-direction: column;
    padding: 4px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    .workspace-button-lise{
      box-sizing: border-box;
      padding: 0 4px;
      margin-bottom: 4px;
      height: 24px;
    }
    .workspace-content{
      width: 100%;
      height: 100%;
      background-color: white;
    }
  }
  .main-setting{
    min-width: 300px;
    box-sizing: border-box;
    border-left: 1px solid #d9d9d9;
    background-color: white;
  }
}
