.active {
  background: #e6f2ff;
}
.dynamic-table-item-copy {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0px;
  right: 30px;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #409eff;
  background: #fff;
  z-index: 2;
}
.dynamic-table-item-copy:hover {
  color: #fff;
  background: #409eff;
}
.dynamic-table-item-delete {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0px;
  right: 0px;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #f56c6c;
  background: #fff;
  z-index: 2;
}
.dynamic-table-item-delete:hover {
  color: #fff;
  background: #f56c6c;
}
